{% if themeServices.navigation|length %}
<div class="ui secondary pointing menu" id="main-navigation">

    {#
     # Main navigation
     #}
	<!-- <ul class="ui dropdown item"> -->
		{% for cnode in themeServices.navigation %}
			{% set source = cnode.nodeSources.first %}
			{% include 'modules/navigationElement.html.twig' with {
                "source" : source,
                "active" : node,
                'securityContext':securityContext,
                'themeServices':themeServices
            } only %}
		{% endfor %}
	<!-- </ul> -->
</div>
{% endif %}
